<!DOCTYPE html>
<html>
  <head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <meta charset="utf-8">
    <title>Address Book</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h3>Add a new Contact</h3>
        <form action="/add_contact" method="post">
          <label for="contact-name">Contact Name:</label>
          <input id="contact-name" type="text" name="contact-name" required>
          <label for="contact-phone">Phone Number:</label>
          <input id="contact-phone" type="tel" name="contact-phone" required>
          <button type="submit" name="button">Add Contact</button>
        </form>
      </div>
    </div>
  </body>
</html>
