<!DOCTYPE html>
<html>
<head>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <meta charset="utf-8">
  <title>Address Book</title>
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1>Welcome to your Contact Book.</h1>
      <ul>
      @foreach (var contact in Model)
      {
        <li><a href='/contact/@contact.GetId()'>@contact.GetDescription()</a></li>
      }
    </ul>
      <div class="one btn btn-default">
        <a href="/add_contact">Add Contact</a>
      </div>
      <div class="one btn btn-default">
        <a href="/contact_list">Contact List</a>
      </div>
      <form action="/contacts_cleared" method="post">
        <button type="submit" name="button">Clear All Contacts</button>
      </form>
    </div>
  </body>
  </html>
