<!DOCTYPE html>
<html>
<head>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <meta charset="utf-8">
  <title>Address Book</title>
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1>Welcome to your Contact Book.</h1>
      <a href="/@Model.GetId()/contact_info"><li>@Model.GetName()</li></a>
      <div class="one btn btn-default">
        <a href="/add_contact">Add Contact</a>
      </div>
    </div>
  </body>
  </html>
